.header {
  margin-bottom: 30px;
  padding: 0 30px;
  
}

.header__title {
  margin-bottom: 30px;
  font-size: 30px;
  letter-spacing: 1px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding:20px;
}

.header__info {
  color: #ffffff;
  letter-spacing: 0.5px;

}

.header__info span {
  margin-right: 15px;
}
