.todo-add {
  position: relative;
  padding: 0 10px;
  
}

.todo-add__input {
  background-color: rgb(250, 248, 248);
  border: 0; 
  color: rgb(17, 16, 16);
  width: 200px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  
  
}

.todo-add__input:focus {
  outline: none;
  border-bottom: 2px solid #050505;
}

.todo-add:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 12px;
  width: 14px;
  height: 14px;
  background-size: cover;
  
  
}
