body{
  background-color: #00abe1;
}
nav{
  font-family:'Times New Roman', Times, serif ;
                color: rgb(0, 0, 0);
                font-weight: 100;
                text-align: center;
                
}
ul.navlink {
  list-style-type:none;
  margin: 0px;
  padding: 0px;
  margin: 0px;
  top: 2em;
  width: 9em;

}
ul.navlink li{
 
  background: #eff2f3;
  text-decoration: none;
  margin: 0.5em;
  padding: 0.3em;
  border-right: 1em solid rgb(39, 35, 35);
  border-radius: 5px;

}


.aboutpage{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;align-items: center;
  padding: 20px;
  color: aliceblue;
}

.infopage{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;align-items: center;
  padding: 20px;
  color: rgb(18, 18, 19);

}
  
  .app {
    padding: 40px 15px;
    font-family: "Roboto", sans-serif;
    color: #1b1b1b;
  }
  
  @media (min-width: 360px){
    .app{
      padding: 40px 20px;
    }
  }
  
  @media (min-width: 400px){
    .app{
      padding: 50px 25px;
    }
  }
  
  @media (min-width:450px){
    .app{
      padding: 60px 40px;
    }
  }
  
  @media (min-width: 500px){
    .app{
      width: 400px;
      margin: 60px auto;
      padding: 0px;
    }
  }